.admin_top_component_containter
{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    align-items: center;
    width: 100%;
justify-content: center;
    background-color: white;
    border-radius: 8px;
    padding: 25px;
}