.rm_title_container
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: white;
    text-align: start;
    border-radius: 10px;
    color: rgb(42,180,232);
}

.bus_seat_container
{
    display: flex;
    width: 70%;
    margin: 0px auto;
    align-items: center;
    justify-content:  center;

}
.seat
{
    width :30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 10px;
    color:gray;
    border: 0.2px solid gray;
    cursor: pointer;
}
.con
{
    display:flex;
  border: 0.21px solid lightgray;
  border-radius: 8px;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    justify-content: center;

}
tbody{
    width :100%
}
table>tbody>tr>td
{
    padding: 4px;
   
}
table{
    
    width: 100%;
}

.Seat_icon
{
    color: lightgray !important;
    cursor: pointer;
}
.Seat_icon:hover
{
    color: rgb(216, 169, 14) !important;
}
.Seat_icon_reserved
{
    color: rgb(94, 93, 93) !important;
    cursor: pointer;
}
.Seat_icon_booked
{
    color: rgb(216, 169, 14) !important;
}
.Seat_icon_selected
{   
    color: rgb(7, 176, 7) !important;
}
.seat_position
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
}